aside{
    padding-right: 20px;
}

.main:after{
    content: "";
    display: table;
    clear: both;
}

.main-content-title h1 {
    font-size: 28px;
    text-transform: uppercase;
}

footer{
    position:absolute;
    bottom:0;
    width:100%;
 }

 @media(max-width:414px){
    #left-sidebar nav ul li {
         display: block;
     }

     #currentTab {
         font-size: 18px;
     }
     span.number-of-answers, a.asked-by-time, a.asked-by-author {
         font-size: 12px;
     }
 }

 @media(min-width: 768px) {
    .main-content-title {
        margin-top: 5px;
    }
    div.main-content-title {
        width: 100%;
    }
 }