main.container{
    margin-top: 50px;
}

div.main-content-title{
    width: 80%;
}

main#main-recent-question.container{
    margin-top: 100px;
}

h1#recent-title{
    font-size: 1.5em;
}

@media(max-width: 1000px){
    div.main-content-title{
        width: 60%;
    }
}

@media(max-width: 600px){
    div.main-content-title{
        width: 100%;
    }

    aside#left-sidebar{
        margin-top: 50px;
    }
}