#left-sidebar{
    margin: 100px 0 0 20px;
    min-width: 15%;
    float: left;
}

.main:after{
    content: "";
    display: table;
    clear: both;
}

.main-content-title{
    width: 80%;
    margin-top: 80px;
}

.question-content p{
    margin-top: 30px;
}

.question-answer label{
    margin-top: 50px;
    display: block;
}

.question-answer textarea {
    min-width: 500px;
    min-height: 250px;
    resize: none;
}

.question-answer-btn {
    height: 30px;
    border: 0;
    padding: 5px;
}

/* answers Section */
.answers-section{
    margin: 20px 0;
}

.name{
    color: #666;
    font-style: italic;
}

.answers-by-others{
    margin:10px 0;
    border-bottom: 1px solid #666;
}

@media(max-width:282px){
    header a{
        font-size: 12px;
    }
}